<h1>The Tank</h1>
	<p>
		This is the home page for Sharktank! The newest and most badass way to educate your children about the maths.  Get started on problems!
	</p>
<%= link_to "Simple Problem", new_problem_path, :class => "signup_button round" %> 
<br>
<%= link_to "Algebra Problem", newalgebra_problems_path, :class => "signup_button round" %>