<header>	
	<%= image_tag("logo2.gif", :alt => "Sample App", :class => "round", :height => 150, :width => 150) %>
        <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </nav>
</header>